<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sub_Wrecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
	</System.Windows.Forms.ApplicationConfigurationSection>
	<userSettings>
        <Sub_Wrecker.Properties.Settings>
            <setting name="ContainerTags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteComponents" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeleteWires" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Inplace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LightingShadows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LightingTurnOff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreserveColour" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RenameSub" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpawnpointBehaviour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DoorBehaviour" serializeAs="String">
                <value>0</value>
            </setting>
        </Sub_Wrecker.Properties.Settings>
    </userSettings>
</configuration>